### Variable descriptions

    Name - Description
    Year - 1987-2008
    Month - 1-12
    DayofMonth - 1-31
    DayOfWeek - 1 (Monday) - 7 (Sunday)
    DepTime - actual departure time (local, hhmm)
    CRSDepTime - scheduled departure time (local, hhmm)
    ArrTime - actual arrival time (local, hhmm)
    CRSArrTime - scheduled arrival time (local, hhmm)
    UniqueCarrier - unique carrier code
    FlightNum - flight number
    TailNum - plane tail number
    ActualElapsedTime - in minutes
    CRSElapsedTime - in minutes
    AirTime - in minutes
    ArrDelay - arrival delay, in minutes
    DepDelay - departure delay, in minutes
    Origin - origin IATA airport code
    Dest - destination IATA airport code
    Distance - in miles
    TaxiIn - taxi in time, in minutes
    TaxiOut - taxi out time in minutes
    Cancelled - was the flight cancelled?
    CancellationCode - reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
    Diverted - 1 = yes, 0 = no
    CarrierDelay - in minutes
    WeatherDelay - in minutes
    NASDelay - in minutes
    SecurityDelay - in minutes
    LateAircraftDelay - in minutes

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd

In [2]:
#Load dataset
df_1997 = pd.read_csv('1997.csv')
df_2007 = pd.read_csv('2007.csv')
pd.set_option('display.max_columns', 29)
pd.set_option('display.max_rows', 29)
#low_memeory=False

In [3]:
df_1997.sample(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3572445,1997,8,18,1,1745.0,1745,2001.0,2011,CO,1282,N14212,76.0,86.0,63.0,-10.0,0.0,BNA,CLE,448,3,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2090189,1997,5,8,4,950.0,950,1107.0,1109,AA,804,N2BWAA,77.0,79.0,53.0,-2.0,0.0,DFW,ICT,328,4,20,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2051272,1997,5,21,3,1520.0,1520,1655.0,1655,CO,410,N14211,95.0,95.0,68.0,0.0,0.0,CLE,EWR,404,5,22,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3753280,1997,9,4,4,2021.0,2020,2119.0,2138,US,1432,N928VJ,118.0,138.0,104.0,-19.0,1.0,PIT,MCI,773,3,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4293646,1997,10,4,6,901.0,905,1224.0,1240,US,2298,N230AU,143.0,155.0,132.0,-16.0,-4.0,MCI,PHL,1038,3,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2007.sample(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1610263,2007,3,2,5,657.0,650,919.0,905,MQ,3998,N669MB,142.0,135.0,108.0,14.0,7.0,ORD,OKC,693,3,31,0,NaN,0,0,0,0,0,0
6579883,2007,11,7,3,2145.0,2135,2326.0,2320,F9,797,N905FR,161.0,165.0,147.0,6.0,10.0,DEN,PDX,992,7,7,0,NaN,0,0,0,0,0,0
6608492,2007,11,28,3,1329.0,1330,2101.0,2100,HA,28,N598HA,332.0,330.0,313.0,1.0,-1.0,HNL,SEA,2677,6,13,0,NaN,0,0,0,0,0,0
1533281,2007,3,6,2,620.0,600,810.0,804,EV,4277,N977EV,110.0,124.0,87.0,6.0,20.0,GRR,ATL,640,5,18,0,NaN,0,0,0,0,0,0
2844116,2007,5,15,2,1201.0,1140,1355.0,1335,MQ,3500,N520DC,114.0,115.0,97.0,20.0,21.0,HSV,DFW,603,10,7,0,NaN,0,0,0,0,0,20

In [5]:
#print('1988:\n',df_1988.info(),'\n')
print('1997:\n',df_1997.info(),'\n')
print('2007:\n',df_2007.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5411843 entries, 0 to 5411842
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   float64
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(13), int64(12), object(4)
memory usage: 1.2+ GB
1997:
 None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7453215 entries, 0 to 7453214
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 1.6+ GB
2007:
 None

In [6]:
# Checking for Null Values
#print('1988:\n',df_1988.isnull().sum(),'\n')
print('1997:\n',df_1997.isnull().sum(),'\n')
print('2007:\n',df_2007.isnull().sum(),'\n')

1997:
 Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                97763
CRSDepTime                 0
ArrTime               109844
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime     109844
CRSElapsedTime          4849
AirTime               109844
ArrDelay              109844
DepDelay               97763
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     5411843
Diverted                   0
CarrierDelay         5411843
WeatherDelay         5411843
NASDelay             5411843
SecurityDelay        5411843
LateAircraftDelay    5411843
dtype: int64

2007:
 Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               160748
CRSDepTime                 0
ArrTime               177927
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                   22
ActualElapsedTime     177927
CRSElapsedTime           994
AirTime               177927
ArrDelay              177927
DepDelay              160748
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7292466
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [7]:
# Checking for duplicates
#print('1988:\n',df_1988.duplicated().sum(),'\n')
print('1997:\n',df_1997.duplicated().sum(),'\n')
print('2007:\n',df_2007.duplicated().sum())

1997:
 0

2007:
 27

In [8]:
# Checking the values of Month
#print('1988:\n',df_1988['Month'].unique(),'\n')
print('1997:\n',df_1997['Month'].unique(),'\n')
print('2007:\n',df_2007['Month'].unique())

1997:
 [ 1  2  3  4  5  6  7  8  9 10 11 12]

2007:
 [ 1  2  3  4  5  6  7  8  9 10 11 12]

In [9]:
# Checking the values of Day of Month
#print('1988:\n',df_1988['DayofMonth'].unique(),'\n')
print('1997:\n',df_1997['DayofMonth'].unique(),'\n')
print('2007:\n',df_2007['DayofMonth'].unique())

1997:
 [28 29 30 31 14  1  2  3  5  6  7  8  9 10 12 13 15 16 17 19 20 21 22 23
 24 26 27  4 11 18 25]

2007:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]

In [10]:
# Checking the values of Day of week
#print('1988:\n',df_1988['DayOfWeek'].unique(),'\n')
print('1997:\n',df_1997['DayOfWeek'].unique(),'\n')
print('2007:\n',df_2007['DayOfWeek'].unique())

1997:
 [2 3 4 5 7 1 6]

2007:
 [1 2 3 4 5 6 7]

In [11]:
#Checking the Airlnes 
#print('1988:\n',df_1988['UniqueCarrier'].unique(),'\n')
print('1997:\n',df_1997['UniqueCarrier'].unique(),'\n')
print('2007:\n',df_2007['UniqueCarrier'].unique())

1997:
 ['WN' 'DL' 'HP' 'CO' 'US' 'UA' 'AA' 'NW' 'TW' 'AS']

2007:
 ['WN' 'XE' 'YV' 'OH' 'OO' 'UA' 'US' 'DL' 'EV' 'F9' 'FL' 'HA' 'MQ' 'NW'
 '9E' 'AA' 'AQ' 'AS' 'B6' 'CO']

In [12]:
#print('1988:\n',df_1988['Cancelled'].value_counts(),'\n')
print('1997:\n',df_1997['Cancelled'].value_counts(),'\n')
print('2007:\n',df_2007['Cancelled'].value_counts())

1997:
 0    5314080
1      97763
Name: Cancelled, dtype: int64

2007:
 0    7292467
1     160748
Name: Cancelled, dtype: int64

In [13]:
#print('1988:\n',df_1988['CancellationCode'].unique(),'\n')
print('1997:\n',df_1997['CancellationCode'].unique(),'\n')
print('2007:\n',df_2007['CancellationCode'].unique())

1997:
 [nan]

2007:
 [nan 'A' 'B' 'C' 'D']

#### SUMMARY

The datasets seem prety clean but i'll change a few things to fit my analysis

**Quality Issues**

    1. Change data types of some columns
    2. Drop duplicated rows
    3. Drop columns that won't be used for analysis
    4. Change Day of Week values to be names of days instead of the number representatons
    5. Drop null values of departure and arrival time columns 

**Tidiness Issues**

    1. Merge the three date columns Year, Month, DayofMonth to one column name it date

### CLEANING

In [14]:
# Make copies 
#df_1988_clean = df_1988.copy()
df_1997_clean = df_1997.copy()
df_2007_clean = df_2007.copy()

**DEFINE**

Drop rows with Null values in Arrival time

**CODE**

In [15]:
df_1997_clean = df_1997_clean[df_1997_clean['ArrTime'].notnull()]
df_2007_clean = df_2007_clean[df_2007_clean['ArrTime'].notnull()]

**TEST**

In [16]:
print('1997:\n',df_1997_clean.isnull().sum(),'\n')
print('2007:\n',df_2007_clean.isnull().sum(),'\n')

1997:
 Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                    0
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime          0
CRSElapsedTime             0
AirTime                    0
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     5301999
Diverted                   0
CarrierDelay         5301999
WeatherDelay         5301999
NASDelay             5301999
SecurityDelay        5301999
LateAircraftDelay    5301999
dtype: int64

2007:
 Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                    0
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime          0
CRSElapsedTime             0
AirTime                    0
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7275287
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

#### DEFINE

Change Datatype of Arrival time and Departure time from object to integer

**CODE**

In [17]:
df_1997_clean['ArrTime'] = df_1997_clean['ArrTime'].astype('int')
df_1997_clean['DepTime'] = df_1997_clean['DepTime'].astype('int')

df_2007_clean['ArrTime'] = df_2007_clean['ArrTime'].astype('int')
df_2007_clean['DepTime'] = df_2007_clean['DepTime'].astype('int')

**TEST**

In [18]:
df_1997_clean.info()
df_2007_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5301999 entries, 0 to 5411842
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            int32
 5   CRSDepTime         int64
 6   ArrTime            int32
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   float64
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(11), int32(2), int64(12), object(4)
memory usage: 1.1+ GB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7275288 entries, 0 to 7453214
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            int32
 5   CRSDepTime         int64
 6   ArrTime            int32
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(5), int32(2), int64(17), object(5)
memory usage: 1.6+ GB

#### DEFINE

Create a Date column

#### CODE

In [19]:
# Change Column names
df_1997_clean.rename(columns={'DayofMonth':'Day'}, inplace=True)
df_2007_clean.rename(columns={'DayofMonth':'Day'}, inplace=True)

In [20]:
# Merge date column
df_1997_clean['date'] = pd.to_datetime(df_1997_clean[['Year', 'Month', 'Day']])
df_2007_clean['date'] = pd.to_datetime(df_2007_clean[['Year', 'Month', 'Day']])

#### TEST

In [21]:

#print('1988 Columns:\n', df_1988_clean.columns)
print('1997 Columns:\n', df_1997_clean.columns,'\n')
print('2007 Columns:\n', df_2007_clean.columns)

1997 Columns:
 Index(['Year', 'Month', 'Day', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime',
       'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'date'],
      dtype='object')

2007 Columns:
 Index(['Year', 'Month', 'Day', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime',
       'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'date'],
      dtype='object')

In [22]:
print('1997:\n',df_1997_clean['date'].sample(5),'\n')
print('2007:\n',df_2007_clean['date'].sample(5))

1997:
 1734518   1997-04-19
3540313   1997-08-13
1742965   1997-04-13
3280213   1997-08-21
521863    1997-02-17
Name: date, dtype: datetime64[ns]

2007:
 695800    2007-02-25
6000732   2007-10-12
4461371   2007-08-23
2555753   2007-05-17
6141709   2007-10-06
Name: date, dtype: datetime64[ns]

#### DEFINE

Change date datatype

#### CODE

In [23]:

df_1997_clean['date'] = pd.to_datetime(df_1997_clean['date'].astype('datetime64[ns, UTC]'))

df_2007_clean['date'] = pd.to_datetime(df_2007_clean['date'].astype('datetime64[ns, UTC]'))

C:\Users\Gladys\AppData\Local\Temp\ipykernel_3632\465229740.py:1: FutureWarning: Using .astype to convert from timezone-naive dtype to timezone-aware dtype is deprecated and will raise in a future version.  Use ser.dt.tz_localize instead.
  df_1997_clean['date'] = pd.to_datetime(df_1997_clean['date'].astype('datetime64[ns, UTC]'))
C:\Users\Gladys\AppData\Local\Temp\ipykernel_3632\465229740.py:3: FutureWarning: Using .astype to convert from timezone-naive dtype to timezone-aware dtype is deprecated and will raise in a future version.  Use ser.dt.tz_localize instead.
  df_2007_clean['date'] = pd.to_datetime(df_2007_clean['date'].astype('datetime64[ns, UTC]'))

#### TEST

In [24]:
df_1997_clean.info()
df_2007_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5301999 entries, 0 to 5411842
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   Day                int64
 3   DayOfWeek          int64
 4   DepTime            int32
 5   CRSDepTime         int64
 6   ArrTime            int32
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   float64
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
 29  date               datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(11), int32(2), int64(12), object(4)
memory usage: 1.2+ GB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7275288 entries, 0 to 7453214
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   Day                int64
 3   DayOfWeek          int64
 4   DepTime            int32
 5   CRSDepTime         int64
 6   ArrTime            int32
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
 29  date               datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(5), int32(2), int64(17), object(5)
memory usage: 1.6+ GB

#### DEFINE

Change Day of Week values to be names of days instead of the number representatons

#### CODE

In [25]:

df_1997_clean['Week_day'] = df_1997_clean['date'].dt.day_name()
df_2007_clean['Week_day'] = df_2007_clean['date'].dt.day_name()

#### TEST

In [26]:
# Confirm if columns values match ie, 1 for Monday, 2 for Tuesday etc
print('1997:\n',df_1997_clean[['Week_day', 'DayOfWeek']].sample(5),'\n')
print('2007:\n',df_2007_clean[['Week_day', 'DayOfWeek']].sample(5))

1997:
          Week_day  DayOfWeek
1155239   Tuesday          2
4054379  Thursday          4
1579873  Thursday          4
3680876   Tuesday          2
1786161  Saturday          6

2007:
          Week_day  DayOfWeek
146736     Monday          1
3932528    Friday          5
7427756  Saturday          6
5032477   Tuesday          2
4332423  Thursday          4

#### DEFINE

Drop duplicates

#### CODE

In [27]:
#df_1988_clean.drop_duplicates(inplace=True)
#df_1997_clean.drop_duplicates(inplace=True)
df_2007_clean.drop_duplicates(inplace=True)

#### TEST

In [28]:
#print('1988:\n',df_1988_clean.duplicated().sum(),'\n')
#print('1997:\n',df_1997_clean.duplicated().sum(),'\n')
print('2007:\n',df_2007_clean.duplicated().sum())

2007:
 0

#### DEFINE :

Drop Columns not needed for analysis

#### CODE

In [29]:
#df_1988_clean = df_1988_clean.drop(columns=['FlightNum', 'TailNum','ActualElapsedTime', 'CRSElapsedTime',
                                            #'DayOfWeek','Distance','TaxiIn', 'TaxiOut'], axis=1)

In [30]:
df_1997_clean = df_1997_clean.drop(columns=['Year','FlightNum', 'TailNum','ActualElapsedTime', 'CRSElapsedTime',
                                            'DayOfWeek','TaxiIn', 'TaxiOut'], axis=1)

In [31]:
df_2007_clean = df_2007_clean.drop(columns=['Year','FlightNum', 'TailNum','ActualElapsedTime', 'CRSElapsedTime',
                                            'DayOfWeek','TaxiIn', 'TaxiOut'], axis=1)

#### TEST

In [32]:
#print('1988 Columns:\n', df_1988_clean.columns)
print('1997 Columns:\n', df_1997_clean.columns,'\n')
print('2007 Columns:\n', df_2007_clean.columns)

1997 Columns:
 Index(['Month', 'Day', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest',
       'Distance', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'date', 'Week_day'],
      dtype='object')

2007 Columns:
 Index(['Month', 'Day', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest',
       'Distance', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'date', 'Week_day'],
      dtype='object')

#### DEFINE

Re-index the columns

#### CODE

In [33]:
df_1997_clean = df_1997_clean.reindex(columns=['date','Month','Day','Week_day', 'DepTime', 'CRSDepTime', 'ArrTime', 
                                               'CRSArrTime','UniqueCarrier', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 
                                               'Dest','Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay','Distance',
                                               'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ])

In [34]:
df_2007_clean = df_2007_clean.reindex(columns=['date','Month','Day','Week_day', 'DepTime', 'CRSDepTime', 'ArrTime', 
                                               'CRSArrTime','UniqueCarrier', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 
                                               'Dest','Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay','Distance',
                                               'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay' ])

#### TEST

In [35]:
df_2007_clean.head()

,date,Month,Day,Week_day,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,AirTime,ArrDelay,DepDelay,Origin,Dest,Cancelled,CancellationCode,Diverted,CarrierDelay,Distance,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007-01-01 00:00:00+00:00,1,1,Monday,1232,1225,1341,1340,WN,54.0,1.0,7.0,SMF,ONT,0,NaN,0,0,389,0,0,0,0
1,2007-01-01 00:00:00+00:00,1,1,Monday,1918,1905,2043,2035,WN,74.0,8.0,13.0,SMF,PDX,0,NaN,0,0,479,0,0,0,0
2,2007-01-01 00:00:00+00:00,1,1,Monday,2206,2130,2334,2300,WN,73.0,34.0,36.0,SMF,PDX,0,NaN,0,3,479,0,0,0,31
3,2007-01-01 00:00:00+00:00,1,1,Monday,1230,1200,1356,1330,WN,75.0,26.0,30.0,SMF,PDX,0,NaN,0,23,479,0,0,0,3
4,2007-01-01 00:00:00+00:00,1,1,Monday,831,830,957,1000,WN,74.0,-3.0,1.0,SMF,PDX,0,NaN,0,0,479,0,0,0,0

### STORAGE

In [36]:
#Save to csv file
df_1997_clean.to_csv('flight_90s.csv', index=False)
df_2007_clean.to_csv('flight_2000s.csv', index=False)